{% if posts.pagination.pages is not empty %}
  <nav class="pagination">
    <ol class="pagination--list">
      {% for page in posts.pagination.pages %}
        <li class="">
          {% if page.link %}
            <a href="{{ page.link }}" class="{{ page.class }} pagination--item">{{ page.title }}</a>
          {% else %}
            <span class="{{ page.class }} pagination--item" aria-current="page">{{ page.title }}</span>
          {% endif %}
        </li>
      {% endfor %}
    </ol>
  </nav>
{% endif %}
