{% extends 'layouts/base.twig' %}

{% block content %}
  <main class="">
    <picture>
      <source media="(min-width: 560px)" srcset="{{ get_image_path('home/mainvisual.jpg') }}" />
      <source media="(min-width: 1366px)" srcset="{{ get_image_path('home/mainvisual@2x.jpg') }}" />
      <img src="{{ get_image_path('home/mainvisual_sm.jpg') }}"
        alt="帝釈峡マラニック 2023年11月26日日曜日 帝釈峡スコラ高原にて"
        class="mainvisual" />
    </picture>

    <section class="section grid gap-x-8 md:grid-cols-[1fr_50%]">
      <h2 class="heading-primary" data-en="Information">
        お知らせ
      </h2>

      <div class="overflow-hidden md:row-span-2">
        {% for post in posts %}
          {% include 'partials/article.twig' %}
        {% endfor %}
      </div>

      <a href="{{ function('get_post_type_archive_link', 'post') }}" class="lead">記事の一覧へ</a>
    </section>

    <section class="bg-white py-10 md:py-16">
      <div class="container lg:max-w-[1240px]">
        {{ function('do_shortcode', '[instagram-feed feed=1]') }}
      </div>
    </section>

    <section class="section">
      {% set banners = {
        sponsor: [],
        partner: [
          {
            title: '一般社団法人ITADAKI',
            image: 'home/banner_itadaki.svg',
            href: 'https://itadaki.jp'
          }
        ]
      } %}
      {% for key, items in banners %}
        {% if items %}
          <div class="flex gap-6 border-t-2 py-10 border-accent md:py-16">
            <h2 class="font-display text-xl capitalize text-primary md:mr-auto md:text-2xl">
              {{ key }}
            </h2>
            <div class="grid grid-cols-2 gap-5 md:w-4/5 md:grid-cols-4">
              {% for item in items %}
                <a href="{{ item.href }}"
                  target="_blank"
                  rel="noreferer noopener"
                  class="grid min-h-[100px] place-content-center overflow-hidden rounded-md bg-white">
                  <img src="{{ get_image_path(item.image) }}" alt="{{ item.title }}" />
                </a>
              {% endfor %}
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </section>
  </main>
{% endblock %}
