{% extends 'layouts/lower.twig' %}

{% block content %}
  {{ parent() }}

  <nav class="years">
    {% for year in years %}
      <a href="/gallery/y{{ year }}/"
        class="years--item"
        aria-current="{{ post.post_name == 'y-' ~ year ? 'true' : 'false' }}">
        {{ year }}年大会
      </a>
    {% endfor %}
  </nav>

  <section class="section">
    <div class="grid grid-cols-3 gap-2 md:grid-cols-4 md:gap-5" data-lightbox-gallery>
      {% for image in images %}
        <figure class="">
          <a href="{{ image.photo }}">
            <img src="{{ image.thumb ? image.thumb : image.photo }}"
              alt=""
              class="aspect-[16/11] w-full object-cover"
              loading="lazy" />
          </a>
        </figure>
      {% endfor %}
    </div>
  </section>
{% endblock %}
