{% extends 'layouts/lower.twig' %}

{% block content %}
  {{ parent() }}

  <main class="">
    <section class="section">
      <h2 class="heading-primary" data-en="Long Course">
        ロングコース
      </h2>
      <div class="mt-8 grid gap-12 md:mt-16 md:mt-20 md:grid-cols-[64%_1fr]">
        <div class="">
          <!-- prettier-ignore -->
          <img src="{{ get_image_path('course/course_long.png') }}"
            srcset="{{ get_image_path('course/course_long.png') }} 559w, {{ get_image_path('course/course_long@2x.png')}}"
            alt=""
            width="640"
            height="752"
            loading="lazy" />
          <a href="{{ get_static_file_path('documents/course/long.pdf') }}"
            class="link-pdf mr-8 mt-5 md:mt-10"
            target="_blank"
            rel="noreferer noopener">
            コースマップダウンロード
          </a>
          <a href="" class="link-pdf icon-file" target="_blank" rel="noreferer noopener" aria-disabled="true">
            GPXダウンロード<small>（準備中）</small>
          </a>
        </div>
        <div class="">
          <h3 class="text-lg font-bold md:text-2xl">
            経路
          </h3>
          <ol class="timeline mt-5 md:mt-8" style="--timeline-color: #3593d1;">
            <li>スタート<small>帝釈峡スコラ高原</small></li>
            <li>A1<small>弥生食堂前（予定）／4.9km</small></li>
            <li>給水<small>雄橋／1.2km</small></li>
            <li>A2<small>宇山集会所（予定）／6.5km</small></li>
            <li>A3<small>戸宇地区頭谷集会所（予定）／5.3km</small></li>
            <li>A4<small>東城まちなか交流施設えびす／4.7km</small></li>
            <li>トイレ<small>遊YOUさろん東城／1.4km</small></li>
            <li>給水<small>久代（元JA倉庫）／1.6km</small></li>
            <li>A5<small>新坂自治振興センター／4.1km</small></li>
            <li>給水<small>帝釈川ダム堰堤／4.5km</small></li>
            <li>A6<small>トレイルセンター／5.8km</small></li>
            <li>給水<small>花面公園／4.5km</small></li>
            <li>A7<small>ながの村（予定）／0.7km</small></li>
            <li>A8<small>トラスト神石／6.9km</small></li>
            <li>A9<small>龍雲寺／6.4km</small></li>
            <li>ゴール<small>帝釈峡スコラ高原／6.9km</small></li>
          </ol>
          <p class="mt-5 border-b border-t border-white py-4 text-sm">
            距離合計：65.4km<br />
            所要時間：約10時間（時速6.5km計算）
          </p>
        </div>
      </div>
    </section>

    <section class="section">
      <h2 class="heading-primary" data-en="Short Course">
        ショートコース
      </h2>
      <div class="mt-8 grid gap-12 md:mt-16 md:mt-20 md:grid-cols-[64%_1fr]">
        <div class="">
          <!-- prettier-ignore -->
          <img src="{{ get_image_path('course/course_short.png') }}"
            srcset="{{ get_image_path('course/course_short.png') }} 559w, {{ get_image_path('course/course_short@2x.png') }}"
            alt=""
            width="640"
            height="540"
            loading="lazy" />
          <a href="{{ get_static_file_path('documents/course/short.pdf') }}"
            class="link-pdf mr-8 mt-5 md:mt-10"
            target="_blank"
            rel="noreferer noopener">
            コースマップダウンロード
          </a>
          <a href="" class="link-pdf icon-file" target="_blank" rel="noreferer noopener" aria-disabled="true">
            GPXダウンロード<small>（準備中）</small>
          </a>
        </div>
        <div class="">
          <h3 class="text-lg font-bold md:text-2xl">
            雄橋コース
          </h3>
          <ol class="timeline mt-5 md:mt-8" style="--timeline-color: #874b9a;">
            <li>スタート<small>帝釈峡スコラ高原</small></li>
            <li>A1<small>弥生食堂前／4.9km</small></li>
            <li>A2<small>雄橋／1.2km</small></li>
            <li>ゴール<small>帝釈峡スコラ高原／5.9km</small></li>
          </ol>
          <p class="mt-5 border-b border-t border-white py-4 text-sm">
            距離合計：12.0km<br />
            所要時間：3時間（時速4km計算）
          </p>
          <h3 class="mt-10 text-lg font-bold md:mt-12 md:text-2xl">
            神龍湖コース
          </h3>
          <ol class="timeline mt-5 md:mt-8" style="--timeline-color: #ec739d;">
            <li>スタート<small>帝釈峡スコラ高原</small></li>
            <li>A1<small>トレイルセンター／3.0km</small></li>
            <li>A2<small>神龍湖三坂駐車場／1.5km</small></li>
            <li>ゴール<small>帝釈峡スコラ高原／4.0km</small></li>
          </ol>
          <p class="mt-5 border-b border-t border-white py-4 text-sm">
            距離合計：8.5km<br />
            所要時間：2時間（時速4km計算）
          </p>
        </div>
      </div>
    </section>
  </main>
{% endblock %}
