{% extends 'layouts/lower.twig' %}

{% block content %}
  {{ parent() }}

  <nav class="years">
    {% for item in years %}
      <a href="{{ item.href }}" class="years--item" aria-current="{{ post.link == item.href ? 'true' : 'false' }}">
        {{ item.year }}年大会
      </a>
    {% endfor %}
  </nav>

  {% for section in result %}
    <section class="section">
      <h2 class="heading-primary" data-en="{{ section.title_en }}">
        {{ section.title }}
      </h2>
      <div class="results">
        {% for result in section.results %}
          <div class="result">
            {% if result.title %}
              <h3 class="heading-secondary">
                {{ result.title }}
              </h3>
            {% endif %}
            <ol class="result-list">
              {% for item in result.list %}
                <li>
                  <span class="result-list--name">{{ item.name }}</span>
                  <span class="result-list--time">{{ item.time }}</span>
                </li>
              {% endfor %}
            </ol>
            <a href="{{ get_static_file_path('documents/result/' ~ post.post_name ~ '/' ~ result.pdf) }}"
              class="link-pdf"
              target="_blank"
              rel="noreferer noopener">
              全ての結果を見る
            </a>
          </div>
        {% endfor %}
      </div>
    </section>
  {% endfor %}
{% endblock %}
