{% extends 'layouts/lower.twig' %}

{% block content %}
  {{ parent() }}

  <main class="">
    <article class="section article">
      <header class="article-header border-b-2 border-accent">
        <span class="article-header--date">{{ post.post_date|date('Y.m.d') }}</span>
        <h1 class="article-header--title">
          {{ post.title }}
        </h1>
      </header>
      <div class="article-content prose">
        {{ post.content }}
      </div>
      <footer class="article-footer">
        <a href="{{ function('get_post_type_archive_link', 'post') }}" class="lead mx-auto mt-12 md:mt-20">
          記事の一覧へ
        </a>
      </footer>
    </article>
  </main>
{% endblock %}
